.perfilContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    flex-direction: column;
    background-color: #DCFCE7;
    
  }
  
  .userAvatar {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    margin-right: 10px; 
    align-items: center;
    justify-content: center;
  }
  
  .nombre {
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px; 
    font-weight: 700;
    align-items: center;
  }
  
