.hechasContainer {
    margin-top: 20px;
    align-items: center;
    width: 100%;
  }
  
  .hechasContainer h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hechas {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .hechas img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
  }