.favoritosContainer {
  margin-top: 10px;
  align-items: center;
  width: 100%;
  background-color: #ecfdf5;
}

.favoritosContainer h2 {
 color: #064E3B;
  font-family: "Work Sans-Regular", Helvetica;
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 20px;

}

.favoritos {
  display: flex;
  gap: 50px;
  justify-content: center;

}

.favoritos img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  margin-bottom: 20px;
}
