.image-item {
    background-color: #DCFCE7;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    height: 350px;
    width: 400px;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans-Regular", Helvetica;
    font-weight: 700;
    color: #064E3B ;
    text-decoration: none;

}

img {
    height: 300px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 5px;
    text-decoration: none;
}