.leaflet-container {
    height: 400px;
    width: 400px;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px ;
}

Popup {
    text-align: justify;
}

