/* Estilos para el componente de actividad */
.actividad-contenedor {
  display: flex;
  background-color: #ecfdf5;
margin: 20px;
  margin-bottom: 20px;

}

.texto-actividad {
  flex: 1;
  padding-right: 20px;
  text-align: left;
  color: #064e3b;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 20.4px;
  font-weight: 700;
  margin-left: 10px;


}

.imagen-actividad img {
  max-width: 100%;
  height: auto;
  align-items: end;
}

.descripcionActividad {
  font-size: 16.4px;
  margin-top: 10px;
  font-weight: 600;
  text-align: justify;
}
